
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CandidateLayout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/CandidateStylele.css" rel="stylesheet" />
</head>
<body>

    <ul class="unorderdlist">
        <li class="list"><a class="active" href="#home">View vacancy</a></li>

        <li class="list"><a href="#news">Account</a></li>
        <li class="list"><a href="#about">Contact</a></li>

        <li class="list"><a href="Logout">Logout</a></li>
        
    </ul>
    @RenderBody()

    <footer class="bg-light text-dark text-center p-3 " >
        Infotech Pvt Ltd &copy; 2023
    </footer>
</body>
</html>
