
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/CSS/HRStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
</head>
<body>



    <ul class="unorderdlist">
        <li class="navbar_list"><a href="Logout">Logout</a></li>
        <li class="navbar_list"><a class="active" href="#home">Add new member</a></li>
        <li class="navbar_list"><a class="active" href="#home">Account Information </a></li>
        <li class="navbar_list"><a href="#contact">View Applicant</a></li>
        <li class="navbar_list"><a href="#">Manage Vacancy</a></li>
    </ul>
    @RenderBody()

    <footer class="bg-dark text-light text-center p-3">
        Infotech Pvt Ltd &copy; 2023
    </footer>
</body>
</html>

