
.title {
    text-align: center;
    color: rgb(27, 18, 147);
    font: 3em sans-serif;
    margin-top: 50px;
    margin-bottom: 60px;
}

#p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 42, 177);
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

#h3 {
    color: rgb(0, 42, 177);
    margin-top: 30px;
}

.card-title {
    font-family: 'Arno Pro Display';
    color: rgb(217, 3, 3)
}

#mv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(48, 68, 135);
    font-size: 16px;
    margin: 10px;
}
