
.title {
    text-align: center;
    color: skyblue;
    font: 3em sans-serif;
    margin-top: 100px;
}

.text-justify {
    font-size: large;
    font-family: 'Times New Roman';
    margin-left: 150px;
    margin-right: 150px;
}

#h3 {
    color: rgb(224, 80, 36);
    margin-top: 30px;
}

#exp {
    text-align: left;
    color: rgb(247, 58, 25);
    margin-left: 150px;
    font: 1.5em sans-serif;
    margin-top: 40px;
}

