
.form-horizontal {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
}

.text-danger {
    color: red;
}

.btn-default {
    background-color: #f0ad4e;
    color: #fff;
    border-color: #eea236;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
        background-color: #eea236;
        border-color: #eea236;
    }

    .btn-default:active,
    .btn-default.active {
        background-image: none;
    }

.text-bg-warning {
    background-color: #f0ad4e;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }


