body{
    background-color: antiquewhite;
}
h2{
    color:crimson
}


input,textarea,select{
    width: 290px;
    padding: 2px;
    margin-top: 5px;
}
.formclass{
    margin-bottom: 100px;
}

#age{
    width:245px;
}
#dob{
    width: 165px;
}
pre {
    display: inline;

}
