
@{
    ViewBag.Title = "CandidateDashbord";
    Layout = "~/Views/Shared/CandidateLayout.cshtml";
}


@if (@Session["Email"] != null)
{
    <h2>Welcome  @Session["Email"].ToString() </h2>
}
else
{
    Response.RedirectToRoute("Default", new { controller = "Home", action = "Index" });
}



